.ss-panel{
}

.ss-panel__col{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $canvas_back_color;
  @mixin card 1;
  overflow: hidden;
  padding: 20px;
}
.ss-panel__header{
  position: relative;
}
.ss-panel__settingBtn{
  outline: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.ss-panel__title{
  font-size: .9em;
}