.container{
  padding: 24px;
}
.ss-wrapper{
}

.ss-header{
  position: relative; }

.ss-header__title{
  font-family: 'Pacifico', sans-serif;
  margin-top: 0; }

.ss-header__share{
  outline: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  position: absolute;
  padding: 0;
  right: 0;
  top: 21px;
  font-size: 110%;
  color: $muted_text_color;
  cursor: pointer;
  &:hover{
    color: $main_text_color;
  }
}

.ss-header__button{
  outline: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  position: absolute;
  padding: 0;
  margin-top: 10px;
  font-size: 100%;
  color: $sub_text_color;
  cursor: pointer;
  &:hover{
    color: $main_text_color;
  }
}